
<div class="bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto text-center">
    <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Remote <span class="text-blue-500">Go</span> jobs at one place</h2>
    <div class="mx-auto max-w-2xl text-center">
      <p class="mt-6 text-lg leading-8 text-gray-300">Discover exciting remote jobs for Go developers. Connect with top companies looking for talented individuals like you!</p>
    </div>

    <!-- Centered Button -->
    <div class="mt-8">
      <%= link_to "POST A JOB", new_job_path, class: "rounded-md bg-blue-500 px-6 py-3 text-lg font-semibold text-white shadow-sm hover:bg-blue-600" %>
    </div>
  </div>
</div>
